.etc {
  background-color: black;
  color: white;
  width: 1000px;
  min-height: 100px;
  font-size: 32px;

  opacity: 0.5;
  /* 투명도 조절에 사용 */
  /* 흰색 바탕에 흰색 글씨인 경우엔 그대로임(줘도 그대로이기때문에) */

  z-index: 1;
  /*
   z축 기준으로 어떤게 앞에 있는가(클수록 우리 눈에 보이는것)
   예시에서는 z-index가 100이므로 뒤에 있는 글씨도 안보이게 된다.
   z-index 값이 낮을수록 우리 눈에 뒤에 내용이 보이고, z-index값이 높을수록 위에
   그림에 완전히 덮혀버린다.
  */
  position: absolute;
  top: 0;
  left: 0;
}

.zi {
  width: 100px;
  min-height: 100px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

@media only screen and (max-width: 1000px) {
  /*
     media query, 환경에 따라 CSS를 적용한다. 
     @media only = 이것에만 적용되도록 / screen = 화면일 때
     and (조건) {CSS 스타일(문법 적용해서)}
     문법은 연결해서 사용할 수 있다. @@and(조건) and (조건)
     바로 위에서 작성한 내용의 뜻은 "화면일 때만 너비가 1000px까지에서 적용한다."이다.
     */
  .etc {
    width: 700px;
    opacity: 1;
  }
}

@media only screen and (min-width: 500px) {
  /* 화면일 때만 너비가 500px 이상일 때 적용한다.
  여기서 말하는 조건들은 브라우저 자체 크기를 의미함! (개발자 도구를 켜서 선택했을 때
  나오는 파란색 화면) 
  */
  .etc {
    width: 300px;
    background-color: lightgray;
    color: black;
  }
}
