* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.root {
  min-width: 1200px;
}

.top-title {
  display: flex;
  width: 100%;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10;
}

.top-title-item {
  display: flex;
  align-items: center;
}

.menu-img1 {
  width: 30px;
  height: 30px;
  padding: 3px;
}

.menu-img2 {
  width: 140px;
  height: 35px;
}

.menu-img3 {
  width: 250px;
  height: 40px;
}

.middle-main {
  display: flex;
  width: 100%;
  /* height: 640px; */
  background-image: url(./메이플\ 미들타이틀.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-wrap: wrap;
}

.menu-flex {
  display: flex;
  /* width: 80%; */
  width: 1200px;
  margin: 0 auto;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.menu-flex > p {
  min-width: 100px;
}

.icon-img {
  width: 120px;
  height: 60px;
}

div.menu-flex {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.middle-main-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* width: 80%; */
  width: 1200px;
  height: 700px;
  margin: 0 auto;
}

.middle-img1 {
  width: 1200px;
  height: 600px;
}

.middle-bottom-item {
  background-image: url(./로그인창\ 쪽\ 이미지.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* width: 80%; */
  width: 1200px;
  margin: 30 auto;
}

.update-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(./메이플\ 업데이트\ 이미지.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
}

button {
  margin: 3px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.nexon-login {
  background-color: dodgerblue;
  border: none;
  width: 200px;
  height: 50px;
}

.maple-login {
  background-color: darkorange;
  border: none;
  width: 200px;
  height: 50px;
}

.qr-login {
  background-color: dimgray;
  border: none;
  width: 120px;
  height: 40px;
}

.other-login {
  background-color: dimgray;
  border: none;
  width: 280px;
  height: 40px;
}

.bottom {
  display: flex;
  /* width: 80%; */
  width: 1200px;
  /* margin-top: 50px; */
  margin: 0 auto;
  /* align-items: center; */
  /* justify-content: center; */
}

.bottom-item1 {
  background-color: blanchedalmond;
  /* width: 400px; */
  width: 470px;
  height: 320px;
  margin-bottom: 30px;
}

.bottom-item2 {
  background-color: blanchedalmond;
  /* width: 280px; */
  width: 320px;
  height: 320px;
  margin-bottom: 30px;
}

.bottom-under {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(55, 55, 58);
  /* width: 80%; */
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 60px;
}

ul li {
  letter-spacing: -0.03em;
}

.span-style {
  position: relative;
  top: -15px;
}

.issue-tag {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgb(94, 132, 158);
}

.issue-item {
  width: 200px;
  background: none;
  color: white;
  height: 40px;
  padding-left: 10px;
  background-color: rgb(71, 110, 139);
  border: none;
  border-radius: 4px;
}

.issue-item-tag {
  width: auto;
  height: 40px;
  padding: 0 10px;
  color: white;
  background-color: cadetblue;
}
