.pseudo::after {
  /* 
간단하게 말하면 가상클래스
정식명칭은 의사 요소
가짜로 넣어준다.
li 등등에서 기본값으로 사용된다.

::after -> 태그의 마지막 자식으로 넣어준다.
*/
  content: "블라블라end";
}

p.pseudo::before {
  /* 첫 자식으로 넣어준다. */
  content: "블라블라";
}

input.pseudo::placeholder {
  /* placeholder에 대한 스타일 적용 */
  color: red;
}

/* 의사 스타일~ */
a:link {
  /* 링크에 대한 스타일을 적용한다. */
  color: aqua;
}

a:visited {
  /* 이동했던 적이 있는 링크에 스타일을 적용한다. */
  color: blue;
}

.pseudo:hover {
  /* 마우스가 올라가 있을 때 */
  font-size: 30px;
}

.pesudo:active {
  /* 클릭하고 있을 때 */
  font-size: 50px;
}

.pseudo:first-child {
  /* 자신이 부모의 첫번째 자식이면 */
  background-color: lightblue;
}
.pseudo:last-child {
  /* 자신이 부모의 마지막 자식이면 */
  background-color: lightcoral;
}

.pseudo:nth-child(2) {
  /* 자신이 부모의 n번째 자식이면 */
  background-color: lightseagreen;
}
