* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* div {
  display: flex;
} */

.button-line {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#start-button {
  background-color: crimson;
  border: 5px solid black;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.choice {
  background-color: dodgerblue;
  border: 5px solid black;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

#computer-line {
  display: flex;
  background-color: darkblue;
  height: 400px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.computer-img {
  height: 400px;
  border-radius: 50px;
  /* position: absolute; */
}

.winner {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

#win {
  background-color: red;
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  color: white;
  font-size: 70px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#draw {
  background-color: indigo;
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  color: white;
  font-size: 70px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#defeat {
  background-color: blue;
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  color: white;
  font-size: 70px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-line {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.coin-box {
  border: 1px solid black;
  margin: 1px;
  width: 70px;
  height: 70px;
  background-color: gold;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playmoney {
  display: flex;
  margin-top: 40px;
  background-color: black;
}

.coin-img {
  width: 150px;
  height: 150px;
}
